<%- include('../includes/head-blog') -%>
<%- include('../includes/link-blog') -%>
<%- include('../includes/meno-blog') -%>




<div class=" login-el  ">
  <!-- component -->
<div class="flex items-center  p-4  lg:justify-center mx-auto rounded-2xl my-5">
<div
class="flex flex-col-reverse  overflow-hidden bg-cartColor rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md"
>
<div
class="p-4 py-6 text-gray-900 bg-primaryColor md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly"
>
<div class="my-3 text-2xl font-semibold tracking-wider text-center ">
  <a class="bg-cartColor pt-3  px-4 rounded-xl text-white" href="#">
    <span class="text-primaryColor text-4xl">JS</span>
    MAG.IR
  </a>
</div>
<p class="mt-6 font-normal text-center  md:mt-0">
  JSMAG بلاگ تخصصی آموزش Node.js  و تکنولوژی های سمت سروری جاوا اسکریپت
</p>
<p class="flex flex-col items-center justify-center mt-10 text-center">
  <span>اکانت ندارید؟</span>
  <a href="/auth/singup" class="underline text-blue-600"> ثبت نام کنید </a>
</p>
<p class="mt-6 text-xs text-center ">
  کلیه حقوق محصولات و محتوای این سایت متعلق به JSMAG.IR می باشد و هر گونه کپی برداری از محتوا و محصولات سایت غیر مجاز و بدون رضایت ماست.  

</p>
</div>
<div class="p-5 bg-cartColor md:flex-1">
  <h3 class="my-4 text-2xl font-semibold text-white">Login</h3>
  <p class="text-white">Email or Password  incorrect</p>
  <p class="text-white">   رمز وارد شده اشتباه میباشد در صورت فراموشی رمز عبور میتوانید آنرا بازیابی کنید! </p>
  <a href="/auth/passwordRecovery" class="text-blue-600">بازیابی  رمز عبور</a>
</div>
</div>
</div>
</div>
<%- include('../includes/footer') -%>