</div>
<!-- mobile and small size browser  codes is below -->
<hr class="mt-5 md:hidden">
<div class="md:hidden mt-10 mx-5">
<section
      class="mb-5 text-white bg-cartColor rounded-lg  border-primaryColor border-2"
    >
      <div class="text-center p-1">
        <div class="mb-12 md:mb-0">
          <div class="flex justify-center mb-2">
            <img
              src="/public\images\users\1401&9&20،‏20-31-57-admin.jpg"
              class="rounded-full shadow-lg w-32 h-32 object-cover border-4"
            />
          </div>
          <h5 class="text-xl font-semibold mb-2">محمد جهانسوز</h5>
          <h6 class="font-semibold text-lg text-primaryColor mb-2">
            Back-End Developer
          </h6>
          <p class="mb-4">
            2 ساله که مشغول برنامه نویسی node.js هستم و بالاخره تصمیم گرفتم
            دانسته هامو با شما به اشتراک بزارم ممنون میشم حمایت کنید ❤️
          </p>
        </div>
      </div>
      <a href="https://zarinp.al/467661" class="w-full bg-primaryColor p-1 inline-block text-center text-gray-900 hover:bg-shadesPrimaryColor font-sans ">حمایت مالی ❤️</a>

    </section>
    <section
      class="mb-20 text-white bg-cartColor rounded-lg p-1 border-primaryColor border-2"
    >
      <h3 class="text-lg border-b m-2">دسته بندی مطالب</h3>
      <ul class="topics-list m-2">
        <li>
          <a href="/posts/category/javascript">1 - JavaScript</a>
        </li>
        <li>
          <a href="/posts/category/node.js&express.js">2 - Node.JS & Express.JS </a>
        </li>
        <li>
          <a href="/posts/category/mongoDb&mongoose">3 - MongoDB & Mongoose</a>
        </li>
        <li>
          <a href="/posts/category/mySql">4 - MySQL</a>
        </li>
        <li>
          <a href="/posts/category/webTechnologies">5 - Web Technologies</a>
        </li>
        <li>
          <a href="/posts/category/ProgrammingExperience">6 - Programming Experience</a>
        </li>
      </ul>
      <div class="m-2 type-list">
        <h3 class="text-lg border-b">انواع مطالب</h3>
        <div class="flex items-center justify-around">
          <a href="/">متنی</a>
          <a href="#" style="cursor: not-allowed;">صوتی</a>
          <a href="#" style="cursor: not-allowed;">تصویری</a>
        </div>
      </div>
    </section>
  </div>